{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image">
    <button type="submit">Upload</button>
  </form>

  {% if cheshbonit %}
  {% autoescape off %}
    <p>{{ cheshbonit|linebreaks }}</p>
  {% endautoescape %}
  {% endif %}

  <table>
      <thead>
      <th>file</th>
      <th>ocr</th>
      <th>nums</th>
      </thead>
      <tbody>
      <tr>
          <td>
              {% if uploaded_file_url %}
                <p>File uploaded at: <a href="{% static uploaded_file_url %}">{{ uploaded_file_url }}</a></p>
                <img src="{% static uploaded_file_url %}" height="1000" width="800">
              <!--<img src="/{{ uploaded_file_url }}" height="1000" width="800">-->
              <!--<img src="{{ uploaded_file_url }}" height="1000" width="800">-->
              {% endif %}
          </td>
          <td>
              {% if text %}
              {% autoescape off %}
                <p>{{ text|linebreaks }}</p>
              {% endautoescape %}
              {% endif %}
          </td>
          <td>
              {% if nums %}
              {% autoescape off %}
                <p>{{ nums|linebreaks }}</p>
              {% endautoescape %}
              {% endif %}
          </td>
      </tr>
      </tbody>
  </table>



  <p><a href="/">Return to home</a></p>

</body>
</html>